doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		block content
		script(src='https://code.angularjs.org/1.4.3/angular.js')
		script(src='https://code.angularjs.org/1.4.3/angular-route.js')
		script(src='https://code.angularjs.org/1.4.3/angular-resource.js')
		script(src='http://code.jquery.com/jquery-1.11.3.js')
		script(src='/javascripts/global.js')
		script(src='/javascripts/connection.js')
		script(src='/javascripts/directives.js')
		script(src='/javascripts/Controllers/userListController.js')
		script(src='/javascripts/Controllers/generateDataController.js')
		script(src='/javascripts/Controllers/meetingCountController.js')
		script(src='/javascripts/Controllers/upcomingMeetingController.js')
		script(src='/javascripts/Controllers/meetingMemberAvgController.js')
		script(src='/javascripts/Controllers/nextMeetingController.js')
		script(src='/javascripts/Controllers/longestMeetingController.js')